$primaryColor: #d80027;
$secondaryColor: #d64650;
$white: #ffff;
$black: #000000;

.contactus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 1000px;
  margin-top: 5rem;
  .contactimage {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    opacity: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    img {
      height: 100vh;
    }
  }
  .contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    h4 {
      font-family: 'Roboto';
      font-size: 50px;
      text-align: center;
      color: $white;
      letter-spacing: 4px;
      span {
        color: $primaryColor;
      }
    }
    p {
      font-family: 'Roboto';
      font-size: 18px;
      color: $white;
      letter-spacing: 4px;
      margin: 20px;

      text-transform: uppercase;
    }
    #contact {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 15px;
      fieldset {
        border: medium none;
      }
      input,
      textarea {
        height: 55px;
        width: 450px;
        background-color: #1b1b1b;
        color: $white;
        font-family: 'Roboto';
        font-size: 16px;
        text-indent: 15px;
        letter-spacing: 3px;
        text-decoration: none;
        border: 1px solid $black;
        border-bottom: 3px solid $primaryColor;
        &:hover {
          box-shadow: 0 0 10px $primaryColor;
        }
      }
      textarea {
        height: 120px;
        padding: 5px;
      }
    }
    button {
      cursor: pointer;
      height: 50px;
      width: 200px;
      font-family: 'Roboto';
      background: transparent;
      /*background: linear-gradient(90deg, $black 0%, $primaryColor 100%);*/
      border: 1px solid $primaryColor;
      color: $white;
      box-shadow: 0 0 15px $primaryColor;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 3px;
      &:hover {
        animation: 2.5s pulse infinite;
      }
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 $primaryColor;
    }

    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px $black;
    }

    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 $black;
    }
  }
}

@media screen and (max-width: 1192px) {
  .contactus {
    display: flex;
    min-height: 1700px;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    .contactimage {
      img {
        width: 350px;
        height: 600px;
        margin-bottom: 10rem;
      }
    }
    .contactform {
      #contact {
        input,
        textarea {
          width: 300px;
        }
      }
    }
  }
}
